@import '../../styles/variables.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $black_opacity;
    opacity: 0;
    transition: all 300ms ease;
    &.open {
        opacity: 1;
    }
}

.basket {
    @include flex($wrap: wrap, $justify: center, $gap: 20px);
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
    background-color: $gray;
    transition: all 300ms ease;
    @media screen and (max-width: 360px) {
        right: -240px;
        width: 240px;
    }
    @media screen and (min-width: 361px) and (max-width: 419px) {
        right: -320px;
        width: 320px;
    }
    @media screen and (min-width: 420px) {
        right: -380px;
        width: 380px;
    }
    &.open {
        right: 0;
    }
    .basket_items {
        width: 100%;
        > div + div {
            margin-top: 20px;
        }
    }
    .empty {
        align-self: center;
        width: 100%;
        svg {
            width: 60%;
            margin: 0 20%;
            path {
                fill: $white;
            }
        }
        p {
            @include font($size: 14px, $align: center);
            margin-top: 20px;
        }
    }
}
