@import '../../styles/variables.scss';

.basket {
    @include flex($wrap: wrap, $justify: center, $gap: 20px);
    position: fixed;
    top: 0;
    right: -420px;
    z-index: 2;
    width: 420px;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    background-color: $gray;
    transition: all 300ms ease;
    &.open {
        right: 0;
    }
    .basket_items {
        width: 100%;
        > div + div {
            margin-top: 20px;
        }
    }
    .empty {
        align-self: center;
        width: 100%;
        svg {
            width: 60%;
            margin: 0 20%;
            path {
                fill: $white;
            }
        }
        p {
            @include font($size: 14px, $align: center);
            margin-top: 20px;
        }
    }
}
