@import '/src/styles/variables.scss';

.credits {
    width: max-content;
    &.mobile {
        position: absolute;
        left: calc(50% - 45px);
        bottom: 20px;
    }
    &.desktop {
    }
    > div {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            & + a {
                margin-left: 10px;
            }
            path {
                transition: all 150ms ease;
                fill: $black_opacity;
            }
            &[href^='https://github.com/']
            {
                &:hover {
                    path {
                        fill: hsl(265, 40%, 60%);
                    }
                }
            }
            &[href^='mailto'] {
                &:hover {
                    path {
                        fill: hsl(5, 50%, 60%);
                    }
                }
            }
        }
    }
}
