@import '/src/styles/variables.scss';

.product_adding {
    @include flex($justify: space-between, $align: center);
    span {
        @include font($size: 14px, $weight: bold);
        padding: 10px;
    }
    > button {
        @include font($color: $white, $size: 14px);
        padding: 10px 15px;
        background-color: $orange_lighter;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 300ms ease;
        &.clicked {
            background-color: $orange;
        }
    }
}
