@import '../../styles/variables';

.pizza_cart {
    @include flex($direction: column, $justify: space-between, $align: stretch, $gap: 10px);
    flex: 0 0 280px;
    padding: 20px;
    opacity: 0;
    transition: all 500ms ease;
    &.loaded {
        opacity: 1;
    }
    > div {
        &:first-child {
            img {
                width: 100%;
                margin-bottom: 10px;
            }
            h6 {
                @include font;
                margin-bottom: 5px;
            }
            p {
                @include font($size: 14px);
            }
        }
        &.settings {
            div {
                @include flex($align: center);
                width: 100%;
                &:first-child {
                    button {
                        flex: 1 0;
                        @include font($size: 14px, $align: center);
                        padding: 5px 10px;
                        background: $gray;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        &:first-child {
                            border-radius: 5px 0 0 0;
                        }
                        &:last-child {
                            border-radius: 0 5px 0 0;
                        }
                    }
                }
                &:last-child {
                    button {
                        flex: 1 0;
                        @include font($size: 14px, $align: center);
                        padding: 10px;
                        background: $gray;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        &:first-child {
                            border-radius: 0 0 0 5px;
                        }
                        &:last-child {
                            border-radius: 0 0 5px 0;
                        }
                    }
                }
            }
        }
        &:last-child {
            @include flex($justify: space-between, $align: center);
            margin-top: 5px;
            span {
                @include font($size: 14px, $weight: bold);
                padding: 10px;
            }
            button {
                @include font($size: 14px);
                padding: 10px 15px;
                background-color: $gray;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
