@import '/src/styles/variables.scss';

.basket_empty {
    align-self: center;
    width: 100%;
    svg {
        display: block;
        width: 180px;
        margin: 0 auto;
        path {
            fill: $white;
        }
    }
    p {
        @include font($size: 14px, $align: center);
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 20px auto 0 auto;
    }
}
