@import '../../styles/variables.scss';

.basket_item {
    width: 100%;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    background-color: $white;
    > div {
        &:first-child {
            @include flex($align: center, $gap: 10px);
            img {
                align-self: flex-start;
                flex: 0 0 50px;
                width: 50px;
            }
            > div {
                flex: 1 0;
                strong {
                    @include font($size: 14px, $weight: bold);
                    display: block;
                }
                span {
                    @include font($size: 12px);
                    display: block;
                }
            }
        }
        &:last-child {
            @include flex($justify: space-between, $align: center);
            margin-top: 10px;
            > strong {
                @include font($size: 14px, $weight: bold);
            }
            .basket_item_amount {
                @include flex($align: center, $gap: 15px);
                > svg {
                    @include font($size: 12px, $weight: bold);
                    flex: 1 0 40px;
                    padding: 15px;
                    border-radius: 50%;
                    background: $gray;
                    cursor: pointer;
                }
                > strong {
                    @include font($size: 14px, $weight: bold);
                }
            }
        }
    }
}
