@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    #root {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .app {
        @include flex($direction: column, $justify: center, $align: center);
        width: 100%;
        min-height: 100%;
        main {
            width: 100%;
            flex: 1 0;
            height: 100%;
            &.desktop {
                padding: 60px 30px;
                .wrapper {
                    max-width: 1000px;
                    margin: 0 auto;
                }
            }
            &.mobile {
                padding: 40px 20px 100px 40px;
                .wrapper {
                    max-width: 100%;
                }
            }
        }
    }
}
