@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-right: 0;
    overflow-y: scroll;
}

.app {
    @include flex($direction: column, $justify: center, $align: center);
    position: relative;
    width: 100%;
    min-height: 100vh;
    main {
        flex: 1 0;
        &.desktop {
            max-width: 1000px;
            padding: 50px 25px;
        }
        &.mobile {
            width: 100%;
            padding: 25px 25px 85px 25px;
        }
        .products {
            h2 {
                @include font($size: 24px);
                margin-bottom: 50px;
            }
        }
    }
}
