@import '../../styles/variables';

.product_cart {
    @include flex($direction: column, $justify: space-between, $align: stretch);
    width: 280px;
    padding: 20px;
    div:first-child {
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        h6 {
            @include font;
            margin-bottom: 5px;
        }
        p {
            @include font($size: 14px);
            margin-bottom: 15px;
        }
    }
    div:last-child {
        @include flex($justify: space-between, $align: center);
        span {
            @include font($size: 14px, $weight: bold);
            padding: 10px;
        }
        button {
            @include font($size: 14px);
            padding: 10px;
            background-color: $gray;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
