@import '/src/styles/variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $black_opacity;
    opacity: 0;
    transition: all 300ms ease;
    &.open {
        opacity: 1;
    }
}

.sidebar {
    @include flex($direction: column, $align: center, $gap: 30px);
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    padding: 20px 20px 80px 20px;
    overflow-y: auto;
    background-color: $gray;
    transition: all 300ms ease;
    @media screen and (max-width: 360px) {
        left: -240px;
        width: 240px;
    }
    @media screen and (min-width: 361px) and (max-width: 419px) {
        left: -320px;
        width: 320px;
    }
    @media screen and (min-width: 420px) {
        left: -380px;
        width: 380px;
    }
    &.open {
        left: 0;
    }
}
