@import '/src/styles/variables.scss';

.submenu {
    &.mobile {
        @include flex($direction: column, $align: center, $gap: 10px);
        a {
            @include font;
            padding: 5px;
            transition: all 150ms ease;
            &.active {
                color: $orange;
            }
        }
    }
    &.desktop {
        @include flex($align: center, $gap: 30px);
        a {
            @include font;
            padding: 5px;
            transition: all 150ms ease;
            &.active {
                color: $orange;
            }
        }
    }
}
