@import '/src/styles/variables';

header {
    width: 100%;
    flex: 0 0;
    background-color: $gray;
    &.mobile {
        @include flex($justify: center, $align: center);
        padding: 10px;
        .logotype {
            width: 40px;
            height: 40px;
            background: url('./assets/truck.webp') center / 40px no-repeat;
            transition: all 300ms ease;
            &.clicked {
                transform: rotate(360deg);
                background-size: 20px;
            }
        }
    }
    &.desktop {
        padding: 30px;
        > .wrapper {
            @include flex($justify: space-between, $align: center);
            max-width: 1000px;
            margin: 0 auto;
            .logotype {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: url('./assets/truck.webp') center / 40px no-repeat;
                transition: all 300ms ease;
                &.clicked {
                    transform: rotate(360deg);
                    background-size: 20px;
                }
            }
        }
    }
}
