@import '/src/styles/variables';

header {
    @include flex($justify: center, $align: center);
    position: relative;
    width: 100%;
    flex: 0 0 60px;
    background-color: $gray;
    &.mobile {
        @include flex($justify: center, $align: center);
        padding: 10px;
        .logotype {
            width: 40px;
            height: 40px;
            background: url('./assets/pizza.png') center / 40px no-repeat;
            transition: all 300ms ease;
            &.clicked {
                transform: rotate(360deg);
            }
        }
    }
    &.desktop {
        > .wrapper {
            @include flex($justify: space-between, $align: center);
            position: absolute;
            bottom: -30px;
            width: 100%;
            max-width: 1000px;
            padding: 0 30px;
        }
    }
}

.logotype {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $gray url('./assets/pizza.png') center / 40px no-repeat;
    transition: all 300ms ease;
    &.clicked {
        transform: rotate(360deg);
    }
}

.navigation {
    @include flex($display: flex, $justify: center, $align: center, $gap: 30px);
    transform: translateY(-20px);
    a {
        @include flex($display: inline-flex, $justify: center, $align: center);
        @include font;
        height: 40px;
        padding: 0 15px;
        background-color: $gray;
        border-radius: 5px 5px 0 0;
        transition: all 150ms ease;
        text-decoration: none;
        &:hover,
        &.active {
            background-color: $white;
            color: $orange;
        }
    }
}

.subnavigation {
    position: relative;
    margin-left: 15px;
    transform: translateY(-20px);
    button {
        @include flex($display: inline-flex, $justify: center, $align: center);
        @include font;
        height: 40px;
        padding: 0 15px;
        border: none;
        outline: none;
        transition: all 150ms ease;
        cursor: pointer;
    }
    &:hover {
        button {
            color: $orange;
        }
    }
    > div {
        &.closed {
            display: none;
        }
        @include flex($direction: column, $align: center, $gap: 5px);
        position: absolute;
        left: calc(50% - 75px);
        transform: translateY(-1px);
        width: 150px;
        padding: 10px;
        background-color: $gray;
        border-radius: 0 0 5px 5px;
        a {
            @include flex($justify: center, $align: center);
            @include font;
            height: 40px;
            width: 100%;
            border-radius: 5px;
            transition: all 150ms ease;
            &:hover,
            &.active {
                background-color: $white;
            }
        }
    }
}
