@import '../../styles/variables';

footer {
    @include flex($display: flex, $justify: center, $align: center);
    width: 100%;
    flex: 0 0 auto;
    padding: 30px;
    background-color: $gray;
}
